{% extends 'blog/base.html' %}
{% block title %} Profile {% endblock %}

{% block content %}
<style>
	.profile-pic{
		max-width: 300px;
		max-height:300px;
		margin: 0 auto;
		border-radius: 50%;
	}


</style>

<br>
<div class="section">
    <div class="columns">
        <div class="column has-text-centered">
            <a class="button is-danger mb-20"  href="{% url 'home' %}"> &#8592; Back</a>

        </div>
        <div class="column has-text-centered">
            <a class="button is-warning mb-20" href="{% url 'reset_password' %}"> <img class="image is-24x24" src="/media/change-password-icon.png" alt=""></a>            
        </div>
    </div>

    <div class="columns is-horizontal">
        <div class="column is-5">
            <div class="card card-body">
                <div calss="card-header">
                    <div class="card-header-title is-centered is-vcentered">
                        <strong>My Profile</strong>
                    </div>
                    <hr>

                </div>

                <div style="text-align: center;">
                    {% if request.user.customer.profile_pic %}
                    <img class="profile-pic" src="{{request.user.customer.profile_pic.url}}" >
                    {% endif %}
                    <form method="POST" class="mb-6" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="field is-one-quarter">
                            {{form_image.as_p}}
                        </div>
                        <br>
                    <div class="has-text-centered">
                        <button class="button is-info is-rounded is-small mb-6">
                            <div style="object-fit:cover;">
                                <img src="/media/v.png" class="image is-24x24 " >
                            </div>
                        </button>
                    </div>
                    </form>
                </div>            
            </div>
        </div>
        <div class="column">
            <div class="card card-content">               
                <form method="POST" class="mb-6" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <br>
                <div class="has-text-centered">
                    <button class="button is-success" type="submit" name="Update Information", style="color: black;">Update</button>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>




{% endblock %}