
{% extends 'blog/base.html' %}
{% block title %} About {% endblock %}

{% block content %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
</style>

<section class="section">
    <div class="container">
      <h1 class="title">Change User Email or Password</h1>
      <form action="" method="post">
        {% csrf_token %}
		{{form.as_p}}
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" name="email" value="{{ request.user.email }}">
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input class="input" type="password" name="password">
          </div>
        </div>
        <div class="field">
          <label class="label">Confirm Password</label>
          <div class="control">
            <input class="input" type="password" name="confirm_password">
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>



{% endblock %}