{% extends 'blog/base.html' %}

{% block title %} Categories {% endblock %}




{% block content %}
<section class="hero ">
    <div class="hero-body">
      <div class="has-text-centered">
        <a href="{% url 'new_category' %}" class="button is-primary  is-rounded" ><h1 style="color: black;">New Category</h1></a>
      </div>
      <div class="container">

        {% for category in categories %}
        <section class="section">
          <div class="columns is-fullheight">
            <div class="column is-12 ">
              <div class="card is-fullheight">
                <div class="card-content is-flex">
                  <a href="{% url 'category_detail' category.slug %}">
                    <div class="columns">
                      <div class="column is-3">
                        {% if category.image %}
                        <img src="{{ category.image.url }}" class="image is-128x128">
                        {% endif %}
                      </div>
                      <div class="column is-9 mt-2 ml-5">
                        <h2 class="subtitle is-size-7">{{ category.created_at|timesince }}</h2>
                        <h1 class="title is-flex">{{ category.title }} </h1>
                        <h5 class="subtitle is-size-6">({{category.posts.count}}) posts in this category</h5>
                        <div class="card-footer">
                          <div class="card-footer-item">
                            <h6 class="subtitle is-size-6">{{category.intro}}</h6>

                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>


                


                    
                
              </div>
            </div>
          </div>
        </section>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endblock %}