{% extends 'blog/base.html' %}
{% block title %} New Category {% endblock %}


{% block content %}

<section class="hero ">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8 is-offset-2">
            <h1 class="title">Create Category</h1> 
          </div>
        </div>
        <section class="section">

          <div class="columns">
            

            <div class="column is-8 is-offset-2">
              <div class="content is-medium">
                <form method="post" enctype="multipart/form-data" class="mb-6">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="control">
                        <button class="button is-success">Submit</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>

{% endblock %}